body
{
    background-color: #f5f5f5;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a
{
    color:cornflowerblue
}
h1
{
    background-image: linear-gradient(to right,#E74C3C,#00DDEB);
    background-clip: text;
    color: transparent;
}
hr
{
    border:3px solid cornflowerblue;
    width: 100%;
    margin: 20px 0;
}




button
{
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 16px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
button:active,
button:hover
{
    outline: 0;
}
button span
{
    background-color: rgb(5, 6, 45);
    padding: 5px 5px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
button:hover span
{
    background: none;
}